<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>EventeX</title>
  <script type="text/javascript" src="/media/js/script.js"></script>
  <link type="text/css" rel="stylesheet" media="screen" href="/media/css/main.css">
</head>
<body>
  <div class="main-container">
    <div class="header">
      <span class="title">Bem vindo ao EventeX</span>
    </div>
    <div class="main-content">
      <p> Alguma coisa </p>
      <p> Alguma coisa </p>
      <p> Alguma coisa </p>
      <p> Alguma coisa </p>
      <p> Alguma coisa </p>
      <p> Alguma coisa </p>
      <p> Alguma coisa </p>
      <p> Alguma coisa </p>
    </div>
    <div class="footer">
      <span class="text"> Curso Welcome to the Django </span>
    </div>
  </div>
</body>
</html>
